html

    head

        style

            include style.css

    body

        div
            h1 Change password

        form(method='POST', action="/login/") 
            input(type="password", placeholder="old password", name="old_password")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="password", placeholder="password", name="new_password")
            button(type="submit") Change