html

    head

        title= title

        style

            include style.css

    body

        div

            h1="Hello " + username + "! Your previous results: "

        a(href="home/") Back

        div

            
            ul
                each  quiz in quizzes

                    li

                        form(method='POST', action="/history/" + quiz.id)
                            button(type="submit") #{quiz.introduction}
                            input(type="hidden" name="quizId" value=quiz.id) 

        div

            form(method='POST', action="/logout")
                button(type="submit") Log out 