html

    head

        title= title

        style

            include style.css

    body

        div

            h1="Hello " + username + "! Your previous results: "

        div

            ul

                each  quiz in quizzes

                    li

                        form(method='POST', action="/history/" + quiz.quiz)
                            button(type="submit") #{quiz.description}
                            input(type="hidden" name="quizId" value=quiz.quiz) 

        div

            form(method='GET', action="/home/")
                button(type="submit") Back