.main-page-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  background-color: inherit;
  grid-template-areas:
    "h h h h h h"
    "t q q q q p"
    "a q q q q m"
    "a q q q q m"
    "b g g g f n";
  padding: 2%;
}
body {
  background-color: #201e1f;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  align-self: stretch;
  justify-self: stretch;
  border-radius: 10px;
  border-style: none;
}

div {
  align-self: stretch;
  justify-self: stretch;
  border-radius: 10px;
  display: grid;
}
.header {
  grid-area: h;
  text-align: center;
  background-color: #3b3561;
  align-self: stretch;
  justify-self: stretch;
  border-radius: 10px;
  display: grid;
}

.rules {
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  align-self: stretch;
  justify-self: stretch;
  background-color: #7ebdc3;
  border-radius: 10px;
  display: grid;
}

.start {
  grid-area: n;
  background-color: #ff4000;
}

.answers {
  grid-row: 2;
  grid-column: 1/7;
  align-self: stretch;
  justify-self: stretch;
  background-color: rgb(76, 146, 252);
  border-radius: 10px;
  border-style: none;
}

.finish {
  grid-area: f;
  background-color: #3b3561;
}

.finish:disabled {
  grid-area: f;
  background-color: #9993ad;
}

.giveup {
  grid-area: g;
  background-color: #ff4000;
  border-radius: 10px;
}

.next {
  grid-area: n;
  background-color: #3b3561;
}

.back {
  grid-area: b;
  background-color: #3b3561;
}

.timer-place {
  display: grid;
  grid-area: t;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  align-self: stretch;
  justify-self: stretch;
  background-color: #faaa8d;
  border-radius: 10px;
  border-style: non;
  padding: 2%;
  justify-content: center;
  align-content: center;
}

.question-container {
  display: grid;
  grid-area: q;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  align-self: stretch;
  justify-self: stretch;
  background-color: #7ebdc3;
  border-radius: 10px;
  border-style: none;

  align-content: center;
  justify-content: center;
}

.loooser {
  display: grid;
  grid-area: q;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  align-self: stretch;
  justify-self: stretch;
  background-color: #faaa8d;
  border-radius: 10px;
  border-style: non;

  align-content: center;
  justify-content: center;
}
.input {
  width: 50%;
}

.prev-ans {
  grid-area: p;
  background-color: #faaa8d;
  justify-content: center;
  align-content: center;
  padding: 1%;
}

.answer-bar {
  grid-column: 1 / 7;
  grid-row: 2;
  background-color: rgb(96, 175, 96);
  align-self: stretch;
  justify-self: stretch;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1;
  grid-auto-columns: auto;
}

.bar-item {
  background-color: inherit;
  align-self: stretch;
  justify-self: stretch;
  text-align: center;
}

.bar-item-answered {
  background-color: aliceblue;
  align-self: stretch;
  justify-self: stretch;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .main-page-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(7, 1fr);
    background-color: inherit;
    grid-template-areas:
      "h h"
      "t p"
      "q q"
      "q q"
      "q q"
      "b n"
      "g f";
    padding: 2%;
  }
}
